.text-platzi {
  color: #97c93e !important;
}

#header img {
  width: 80px;
}

/* Vamos a darle algo de estilo a las imágenes del main, dentro del carrusel */
#main .carousel-inner img {
  /* Le damos un 70% del alto del viewport */
  max-height: 70vh;
  /* Para que no se desfigure la imagen la autorecortamos(estirar+zoom) */
  object-fit: cover;

  /* Y ya para flipar, le vamos a dar un filtro a las imágenes */
  filter: grayscale(70%);

}

/* Vamos a conformar la manera de añadir el texto un nivel por encima del carrusel
Para ello hacemos los siguientes ajustes. */
#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  /* Con esto hecho, las imágenes ahora se ven más negras. Así contrastarán mejor. */
  color: white;

  /* En el momento de escribir este código he tenido que añadir esto,
  esta línea siguiente porque el archivo de estilos de boostrap se ha
  actualizado y si no se define este parámetro el texto nos quedaría detrás
  del carrusel. */
  z-index: 2;
}

#footer {
  /* Hemos cogido "prestado" el color del footer de Platzi, je, je. */
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372)
}
 /* El color de los enlaces del footer lo queremos blanco. */
#footer a {
  color: white;
}
