.text-platzi {
  color: #97c93e !important;
}

#header img {
  width: 80px;
}

#footer {
  /* Hemos cogido "prestado" el color del footer de Platzi, je, je. */
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372)
}
 /* El color de los enlaces del footer lo queremos blanco. */
#footer a {
  color: white;
}
